<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StockMapper">
    
    <resultMap type="Stock" id="StockResult">
        <result property="id"    column="id"    />
        <result property="stockCode"    column="stock_code"    />
        <result property="stockName"    column="stock_name"    />
        <result property="market"    column="market"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectStockVo">
        select id, stock_code, stock_name, market, create_by, create_time, update_by, update_time, remark from stock
    </sql>

    <select id="selectStockList" parameterType="Stock" resultMap="StockResult">
        <include refid="selectStockVo"/>
        <where>  
            <if test="stockCode != null  and stockCode != ''"> and stock_code = #{stockCode}</if>
            <if test="stockName != null  and stockName != ''"> and stock_name like concat('%', #{stockName}, '%')</if>
            <if test="market != null  and market != ''"> and market = #{market}</if>
        </where>
    </select>
    
    <select id="selectStockById" parameterType="Long" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where id = #{id}
    </select>

    <insert id="insertStock" parameterType="Stock" useGeneratedKeys="true" keyProperty="id">
        insert into stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stockCode != null and stockCode != ''">stock_code,</if>
            <if test="stockName != null and stockName != ''">stock_name,</if>
            <if test="market != null">market,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stockCode != null and stockCode != ''">#{stockCode},</if>
            <if test="stockName != null and stockName != ''">#{stockName},</if>
            <if test="market != null">#{market},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>
    <insert id="batchInsertListIgnoreSame" parameterType="java.util.List">
        insert into stock (
        stock_code, stock_name, market, create_by, create_time, update_by, update_time, remark
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.stockCode}, #{item.stockName}, #{item.market}, 'system',sysdate(),'system', sysdate(), #{item.remark})
        </foreach>
        on duplicate key update
        stock_name = values(stock_name),
        market = values(market),
        update_by = 'system',
        update_time = sysdate()
    </insert>

    <update id="updateStock" parameterType="Stock">
        update stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockCode != null and stockCode != ''">stock_code = #{stockCode},</if>
            <if test="stockName != null and stockName != ''">stock_name = #{stockName},</if>
            <if test="market != null">market = #{market},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockById" parameterType="Long">
        delete from stock where id = #{id}
    </delete>

    <delete id="deleteStockByIds" parameterType="String">
        delete from stock where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectStocksByGroupId" parameterType="Long" resultMap="StockResult">
        select s.id, s.stock_code, s.stock_name, s.market,
               s.create_by, s.create_time, s.update_by, s.update_time, s.remark
        from stock s
        inner join stock_group_stock sgs on s.id = sgs.stock_id
        where sgs.group_id = #{groupId}
        order by s.id desc
    </select>

    <select id="selectGroupIdsByStockId" parameterType="Long" resultType="Long">
        select group_id from stock_group_stock where stock_id = #{stockId}
    </select>

    <insert id="insertStockGroups">
        insert into stock_group_stock (stock_id, group_id) values
        <foreach item="groupId" collection="groupIds" separator=",">
            (#{stockId}, #{groupId})
        </foreach>
    </insert>

    <delete id="deleteStockGroupsByStockId" parameterType="Long">
        delete from stock_group_stock where stock_id = #{stockId}
    </delete>

    <select id="selectStockByCodePrefix" parameterType="String" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where market in ('SH', 'SZ')
        <if test="keyword != null and keyword != ''">
            and stock_code like concat(#{keyword}, '%')
        </if>
        order by stock_code asc
        limit 10
    </select>

    <select id="selectStocksNotInGroup" resultMap="StockResult">
        select s.id, s.stock_code, s.stock_name, s.market,
               s.create_by, s.create_time, s.update_by, s.update_time, s.remark
        from stock s
        where s.id not in (
            select stock_id from stock_group_stock where group_id = #{groupId}
        )
        <if test="stock.stockCode != null and stock.stockCode != ''"> and s.stock_code = #{stock.stockCode}</if>
        <if test="stock.stockName != null and stock.stockName != ''"> and s.stock_name like concat('%', #{stock.stockName}, '%')</if>
        <if test="stock.market != null and stock.market != ''"> and s.market = #{stock.market}</if>
        order by s.id desc
    </select>

    <select id="selectStocksByMarkets" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where market in
        <foreach collection="markets" item="market" open="(" separator="," close=")">
            #{market}
        </foreach>
        order by id desc
    </select>

</mapper>